@font-face {
	font-family: wangman;
	src:url(../css/iconfont.eot?#iefix) format("embedded-opentype"), url(../css/iconfont.woff) format("woff"), url(../css/iconfont.ttf) format("truetype"), url(../css/iconfont.svg#iconfont) format("svg");
}
.site-footer {
	FONT-SIZE: 12px
}
.kefu .kefu-main I.title {
	FONT-SIZE: 12px
}
.site-wrap {
	FONT-SIZE: 14px
}
.site-main {
	FONT-SIZE: 14px
}
.site-head {
	FONT-SIZE: 14px
}
.kefu .kefu-list A {
	FONT-SIZE: 14px
}
.site-nav-bd LI A {
	FONT-SIZE: 16px
}
.sub-btn {
	FONT-SIZE: 16px
}
.sub-btns {
	FONT-SIZE: 16px
}
.gray-table .table-title {
	FONT-SIZE: 16px
}
.view-option {
	FONT-SIZE: 16px
}
.home .view-details P.values {
	FONT-SIZE: 18px
}
.notice .notice-list .j_accordion_content .title {
	FONT-SIZE: 20px
}
.home .view-details P.title {
	FONT-SIZE: 24px
}
BODY {
	FONT: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体, sans-serif
}
BUTTON {
	FONT: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体, sans-serif
}
INPUT {
	FONT: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体, sans-serif
}
SELECT {
	FONT: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体, sans-serif
}
TEXTAREA {
	FONT: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB, 宋体, sans-serif
}
BODY {
	MARGIN: 0px
}
H1 {
	MARGIN: 0px
}
H2 {
	MARGIN: 0px
}
H3 {
	MARGIN: 0px
}
H4 {
	MARGIN: 0px
}
H5 {
	MARGIN: 0px
}
H6 {
	MARGIN: 0px
}
DL {
	MARGIN: 0px
}
DD {
	MARGIN: 0px
}
P {
	MARGIN: 0px
}
UL {
	MARGIN: 0px
}
OL {
	MARGIN: 0px
}
BUTTON {
	MARGIN: 0px
}
INPUT {
	MARGIN: 0px
}
SELECT {
	MARGIN: 0px
}
TEXTAREA {
	MARGIN: 0px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	COLOR: #333; -webkit-font-smoothing: antialiased; -webkit-backface-visibility: hidden
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
details {
	DISPLAY: block
}
figcaption {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
main {
	DISPLAY: block
}
MENU {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
summary {
	DISPLAY: block
}
audio {
	DISPLAY: inline-block; VERTICAL-ALIGN: baseline
}
canvas {
	DISPLAY: inline-block; VERTICAL-ALIGN: baseline
}
progress {
	DISPLAY: inline-block; VERTICAL-ALIGN: baseline
}
video {
	DISPLAY: inline-block; VERTICAL-ALIGN: baseline
}
[hidden] {
	DISPLAY: none
}
template {
	DISPLAY: none
}
A {
	BACKGROUND-COLOR: transparent
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
A:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
* {
	-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
INPUT {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
SELECT {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
TEXTAREA {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
ABBR[title] {
	BORDER-BOTTOM: 1px dotted
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
DFN {
	FONT-STYLE: italic
}
mark {
	BACKGROUND: #ff0; COLOR: #000
}
SMALL {
	FONT-SIZE: 80%
}
SUB {
	POSITION: relative; LINE-HEIGHT: 0; FONT-SIZE: 75%; VERTICAL-ALIGN: baseline
}
SUP {
	POSITION: relative; LINE-HEIGHT: 0; FONT-SIZE: 75%; VERTICAL-ALIGN: baseline
}
SUP {
	TOP: -0.5em
}
SUB {
	BOTTOM: -0.25em
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
figure {
	MARGIN: 1em 40px
}
HR {
	BOX-SIZING: content-box; HEIGHT: 0px
}
PRE {
	OVERFLOW: auto
}
CODE {
	FONT-FAMILY: monospace, monospace; FONT-SIZE: 1em
}
KBD {
	FONT-FAMILY: monospace, monospace; FONT-SIZE: 1em
}
PRE {
	FONT-FAMILY: monospace, monospace; FONT-SIZE: 1em
}
SAMP {
	FONT-FAMILY: monospace, monospace; FONT-SIZE: 1em
}
BUTTON {
	MARGIN: 0px; FONT: inherit; COLOR: inherit
}
INPUT {
	MARGIN: 0px; FONT: inherit; COLOR: inherit
}
OPTGROUP {
	MARGIN: 0px; FONT: inherit; COLOR: inherit
}
SELECT {
	MARGIN: 0px; FONT: inherit; COLOR: inherit
}
TEXTAREA {
	MARGIN: 0px; FONT: inherit; COLOR: inherit
}
BUTTON {
	OVERFLOW: visible
}
BUTTON {
	TEXT-TRANSFORM: none
}
SELECT {
	TEXT-TRANSFORM: none
}
BUTTON {
	CURSOR: pointer; -webkit-appearance: button
}
HTML INPUT[type='button'] {
	CURSOR: pointer; -webkit-appearance: button
}
INPUT[type='reset'] {
	CURSOR: pointer; -webkit-appearance: button
}
INPUT[type='submit'] {
	CURSOR: pointer; -webkit-appearance: button
}
BUTTON[disabled] {
	CURSOR: default
}
HTML INPUT[disabled] {
	CURSOR: default
}
INPUT {
	LINE-HEIGHT: normal
}
INPUT[type='checkbox'] {
	BOX-SIZING: border-box; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT[type='radio'] {
	BOX-SIZING: border-box; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT[type='search'] {
	BOX-SIZING: content-box; -webkit-appearance: textfield
}
FIELDSET {
	BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; PADDING-BOTTOM: 0.75em; MARGIN: 0px 2px; PADDING-LEFT: 0.62em; PADDING-RIGHT: 0.62em; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid; PADDING-TOP: 0.35em
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	OVERFLOW: auto
}
OPTGROUP {
	FONT-WEIGHT: bold
}
TABLE {
	BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.clear-fix {
	
}
.clear-fix:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.hide-fix {
	OVERFLOW: hidden
}
.float-l {
	FLOAT: left
}
.float-r {
	FLOAT: right
}
.float-none {
	DISPLAY: block; FLOAT: none
}
.inline-b {
	DISPLAY: inline-block
}
.block {
	DISPLAY: block
}
.align-l {
	TEXT-ALIGN: left !important
}
.align-c {
	TEXT-ALIGN: center
}
.align-r {
	TEXT-ALIGN: right
}
.hor-line {
	FONT-STYLE: normal
}
.wrap {
	MIN-WIDTH: 1200px; WIDTH: 100%
}
.wrap-content {
	WIDTH: 1200px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.site-wrap {
	WIDTH: 1200px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.site-top .site-top-bd {
	WIDTH: 1200px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.content-tb {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.content-t {
	PADDING-TOP: 20px
}
.content-b {
	PADDING-BOTTOM: 20px
}
.content-lr {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.content-l {
	PADDING-LEFT: 20px
}
.content-r {
	PADDING-RIGHT: 20px
}
.content-t-none {
	PADDING-TOP: 0px !important
}
.content-b-none {
	PADDING-BOTTOM: 0px !important
}
.content-tb-none {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.content-main {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.p-indent {
	TEXT-INDENT: 2em
}
.line-through {
	TEXT-DECORATION: line-through
}
.gutter-pl {
	PADDING-LEFT: 15px
}
.gutter-pt {
	PADDING-TOP: 15px
}
.gutter-pb {
	PADDING-BOTTOM: 15px
}
.gutter-pr {
	PADDING-RIGHT: 15px
}
.gutter-plr {
	PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.gutter-ptb {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.gutter-mr {
	MARGIN-RIGHT: 15px
}
.gutter-ml {
	MARGIN-LEFT: 15px
}
.gutter-mt {
	MARGIN-TOP: 15px
}
.gutter-mb {
	MARGIN-BOTTOM: 15px
}
.gutter-mlr {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
.gutter-mtb {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px
}
.article {
	LINE-HEIGHT: 2em
}
.em25.article {
	LINE-HEIGHT: 2.5em
}
.p-indent.article P {
	TEXT-INDENT: 2em
}
P.indent {
	TEXT-INDENT: 2em
}
.site-wrap-bd {
	MARGIN: 20px
}
.site-wrap-bd {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.site-top-bd {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.site-footer-bd {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.site-main-bd {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.col-20 {
	WIDTH: 20%
}
.col-25 {
	WIDTH: 25%
}
.col-33 {
	WIDTH: 33.33%
}
.col-50 {
	WIDTH: 50%
}
.col-66 {
	WIDTH: 66.66%
}
.col-75 {
	WIDTH: 75%
}
.col-80 {
	WIDTH: 80%
}
.col-85 {
	WIDTH: 85%
}
.col-90 {
	WIDTH: 90%
}
.col-95 {
	WIDTH: 95%
}
.site-top {
	BORDER-BOTTOM: #d4d4d4 1px solid; MIN-WIDTH: 1200px; WIDTH: 100%; BORDER-TOP: #88cd00 4px solid
}
.site-top {
	BACKGROUND-COLOR: #f6f6f6
}
.site-top-bd {
	BACKGROUND-COLOR: #f6f6f6
}
.site-top:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.site-top-bd:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.site-top A {
	COLOR: #fff
}
.site-top-bd A {
	COLOR: #fff
}
.site-top .site-l {
	PADDING-LEFT: 10px; FLOAT: left; PADDING-TOP: 20px
}
.site-top .site-r {
	LINE-HEIGHT: 100%; FLOAT: right; HEIGHT: 100%
}
.site-top .site-phone {
	PADDING-LEFT: 30px
}
.site-top .site-logo {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.site-nav-bd {
	MARGIN-RIGHT: 10px
}
.site-nav-bd:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.site-nav-bd LI {
	LINE-HEIGHT: 65px; WIDTH: 100px; FLOAT: left; HEIGHT: 65px
}
.site-nav-bd LI A {
	TEXT-ALIGN: center; DISPLAY: block; COLOR: #333
}
.site-nav-bd LI A.active {
	BORDER-BOTTOM: #88cd00 1px solid; BACKGROUND-COLOR: #88cd00; COLOR: #fff
}
.site-nav-bd LI A:hover {
	BORDER-BOTTOM: #88cd00 1px solid; BACKGROUND-COLOR: #88cd00; COLOR: #fff
}
.site-footer {
	PADDING-BOTTOM: 22px; PADDING-TOP: 22px
}
.site-footer {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1a1a1a; COLOR: #fff
}
.site-footer-bd {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1a1a1a; COLOR: #fff
}
.home .list-items-wrap {
	PADDING-TOP: 10px
}
.home .list-items-wrap .list-items {
	
}
.home .list-items-wrap .list-items:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.home .list-items-wrap .list-items-bd {
	WIDTH: 33.33%; FLOAT: left
}
.home .list-items-wrap .list-content {
	BORDER-BOTTOM: #d4d4d4 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d4d4d4 1px solid; MARGIN: 10px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.home .list-items-wrap .list-box {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 210px; OVERFLOW: auto; PADDING-TOP: 10px
}
.home .list-items-wrap .list-box:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.home .list-items-wrap .list-box LI {
	WIDTH: 33.33%; MARGIN-BOTTOM: 15px; FLOAT: left
}
.home .list-items-wrap .box-title {
	WIDTH: 100%; TEXT-OVERFLOW: ellipsis; WORD-WRAP: normal; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.home .list-items-wrap .list-title {
	BACKGROUND-IMAGE: url(../img/list-titlebg.png); BORDER-BOTTOM: #d4d4d4 1px solid; LINE-HEIGHT: 40px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 40px; COLOR: #626262
}
.home .list-items-wrap .list-mark {
	COLOR: #333; CURSOR: pointer
}
.home .tree-view-main {
	
}
.home .tree-view-main:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.home .tree-view-nav {
	MAX-HEIGHT: 700px; OVERFLOW: auto
}
.home .tree-view-nav .tree-nav-bd {
	BORDER-BOTTOM: #dfdfdf 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #dfdfdf 1px solid; LINE-HEIGHT: 40px; BACKGROUND-COLOR: #fff; DISPLAY: block; HEIGHT: 40px; COLOR: #333; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid
}
.home .tree-view-nav .tree-nav-bd .menu-arrow-icon {
	POSITION: absolute; TOP: 13px; RIGHT: 10px
}
.home .tree-view-l {
	Z-INDEX: 3000; POSITION: relative; WIDTH: 240px; FLOAT: left; MARGIN-RIGHT: -100%
}
.home .tree-view-r {
	WIDTH: 100%; FLOAT: left
}
.home .tree-view-bd {
	MARGIN-BOTTOM: -1px
}
.home .active.tree-view-bd .tree-nav-bd {
	BORDER-BOTTOM-COLOR: #88cd00; BACKGROUND-COLOR: #88cd00; BORDER-TOP-COLOR: #88cd00; COLOR: #fff; BORDER-RIGHT-COLOR: #88cd00; BORDER-LEFT-COLOR: #88cd00
}
.home .active.tree-view-bd .tree-nav-bd .menu-arrow-icon {
	BACKGROUND-POSITION: 0px -163px
}
.home .tree-view-inner {
	MARGIN-LEFT: 270px
}
.home .view-details {
	PADDING-LEFT: 32px
}
.home .view-details P {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 30px
}
.home .tree-view-sub {
	
}
.home .tree-view-sub:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.home .tree-view-sub LI {
	WIDTH: 24%; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
.home .tree-view-sub .tree-sub-bd {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; MARGIN: 5px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.home .tree-view-sub .sub-title {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.home .tree-view-sub .sub-content {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.home .tree-view-sub .sub-title {
	BORDER-BOTTOM: #d4d4d4 1px solid; TEXT-ALIGN: center; BACKGROUND-COLOR: #efefef
}
.home .tree-view-sub .sub-content P {
	MARGIN: 10px 0px
}
.raster-view-modal.home {
	WIDTH: 800px
}
.home .tree-nav-sub {
	DISPLAY: none
}
.home .tree-nav-sub A {
	LINE-HEIGHT: 40px; PADDING-LEFT: 6em; DISPLAY: block; HEIGHT: 40px; COLOR: #333
}
.home .tree-nav-sub A.active {
	COLOR: #88cd00
}
.home .tree-nav-sub A:hover {
	COLOR: #88cd00
}
.home .tree-nav-sub A.warn.active {
	BACKGROUND-IMAGE: url(../img/warn.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 4em center; COLOR: red
}
.notice .notice-list .tab-option {
	POSITION: relative; LINE-HEIGHT: 46px; PADDING-LEFT: 10px; HEIGHT: 46px
}
.notice .notice-list .notice-title {
	WIDTH: 900px; TEXT-OVERFLOW: ellipsis; WORD-WRAP: normal; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.notice .notice-list .arrow {
	POSITION: absolute; BORDER-LEFT: transparent 6px solid; MARGIN-TOP: -3px; WIDTH: 0px; HEIGHT: 0px; BORDER-TOP: #88cd00 6px solid; TOP: 50%; RIGHT: 10px; BORDER-RIGHT: transparent 6px solid; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg)
}
.notice .notice-list .time {
	POSITION: absolute; TOP: 0px; RIGHT: 40px
}
.notice .notice-list .j_accordion_content {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f5f5f5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666565; BORDER-TOP: #d4d4d4 1px solid; PADDING-TOP: 10px
}
.notice .notice-list .j_accordion_content .form-label {
	WIDTH: 140px; COLOR: #999
}
.notice .notice-list .j_accordion_content .title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 8px
}
.notice .notice-list .j_accordion_item {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; MARGIN: 15px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.notice .notice-list .active.j_accordion_item {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.notice .notice-list .active.j_accordion_item .j_accordion_content {
	BORDER-TOP: #d4d4d4 1px solid
}
.notice .notice-list .active.j_accordion_item .arrow {
	-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg)
}
.warning TABLE {
	WIDTH: 98%; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.warning .gray-table {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid
}
.warning .gray-table .table-container {
	MAX-HEIGHT: 320px; OVERFLOW: auto
}
.input {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 20px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.sub-btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; WIDTH: 100px; DISPLAY: block; HEIGHT: 34px
}
.sub-btns {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; WIDTH: 100px; DISPLAY: block; HEIGHT: 34px
}
.sub-btn.inline-block {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.sub-btns.inline-block {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.sub-btn {
	BACKGROUND-COLOR: #ffb73f; COLOR: #fff
}
.sub-btns {
	BACKGROUND-COLOR: #999; COLOR: #fff
}
.opera-btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; PADDING-LEFT: 35px; PADDING-RIGHT: 35px; DISPLAY: inline-block; HEIGHT: 35px; COLOR: #fff; border-radius: 4px
}
.no-cssgradients .opera-btn {
	BACKGROUND-COLOR: #f67900
}
.block.opera-btn {
	DISPLAY: block
}
A {
	TEXT-DECORATION: none
}
.gray-table TABLE {
	BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; COLOR: #626262; BORDER-TOP: #d7d7d7 1px solid; BORDER-RIGHT: #d7d7d7 1px solid
}
.gray-table TABLE.sort-table .sort {
	CURSOR: pointer
}
.gray-table TABLE.sort-table .headerSortDown.sort .arrow {
	-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg)
}
.gray-table TABLE.sort-table .headerSortUp.sort .arrow {
	-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg)
}
.gray-table TABLE.sort-table .sort .arrow {
	BORDER-BOTTOM: #ccc 5px solid; BORDER-LEFT: transparent 5px solid; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; MARGIN-LEFT: 6px; VERTICAL-ALIGN: middle; BORDER-RIGHT: transparent 5px solid
}
.gray-table TABLE A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #ffb73f; PADDING-TOP: 10px
}
.gray-table .table-title {
	PADDING-BOTTOM: 6px; PADDING-TOP: 20px
}
.gray-table TR {
	TEXT-ALIGN: center
}
.gray-table TD {
	TEXT-ALIGN: center
}
.gray-table TH {
	TEXT-ALIGN: center
}
.gray-table TH {
	BACKGROUND-COLOR: #f5f5f5
}
.gray-table TR {
	BORDER-BOTTOM: #d7d7d7 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #d7d7d7 1px solid; PADDING-TOP: 12px
}
.gray-table TD {
	BORDER-BOTTOM: #d7d7d7 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #d7d7d7 1px solid; PADDING-TOP: 12px
}
.gray-table TH {
	BORDER-BOTTOM: #d7d7d7 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #d7d7d7 1px solid; PADDING-TOP: 12px
}
.gray-table THEAD.white TR {
	BACKGROUND-COLOR: #fff
}
.gray-table THEAD.white TH {
	BACKGROUND-COLOR: #fff
}
.table-scroll {
	POSITION: relative
}
.table-scroll .pagination {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #fff; WIDTH: 100%; BOTTOM: 0px; HEIGHT: 30px; COLOR: red; FONT-WEIGHT: bold
}
.table-container {
	PADDING-BOTTOM: 30px
}
.table-container TABLE {
	PADDING-BOTTOM: 40px; MARGIN-BOTTOM: 10px
}
.label-size-medium.list-group LABEL.form-label {
	WIDTH: 100px
}
.list-block {
	MARGIN-BOTTOM: 12px
}
.list-block:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.hor.list-block LI {
	FLOAT: left
}
.list-block .item-label {
	FLOAT: left
}
.list-block .item-label {
	TEXT-ALIGN: right
}
.list-block .form-label {
	TEXT-ALIGN: right
}
.list-block .item-text {
	TEXT-ALIGN: left; OVERFLOW: hidden
}
.list-block .form-label {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.list-block .form-value {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.list-block .form-submit {
	MARGIN-BOTTOM: 0px
}
.list-block .qq.form-submit {
	-webkit-transform: rotate(10deg); -ms-transform: rotate(10deg); transform: rotate(10deg)
}
.vertical-top.list-block .item-label {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.vertical-top.list-block .item-text {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.vertical-bottom.list-block .item-label {
	DISPLAY: inline-block; VERTICAL-ALIGN: bottom
}
.vertical-bottom.list-block .item-text {
	DISPLAY: inline-block; VERTICAL-ALIGN: bottom
}
.space-middle {
	WIDTH: 1px; DISPLAY: inline-block; HEIGHT: 100%; FONT-SIZE: 0px; VERTICAL-ALIGN: middle
}
.j_toggle_slide {
	CURSOR: pointer
}
.J_toggle_content {
	DISPLAY: none
}
.active.J_toggle_content {
	DISPLAY: block
}
.section-head {
	BORDER-BOTTOM: #e8e8e8 1px solid
}
.section-head .section-head-title {
	BACKGROUND-IMAGE: url(../img/section-head.png); TEXT-ALIGN: center; LINE-HEIGHT: 41px; WIDTH: 130px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; HEIGHT: 41px; COLOR: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px
}
.section-head-solid {
	LINE-HEIGHT: 40px; BACKGROUND-COLOR: #eff2f4; HEIGHT: 40px; COLOR: #008dd0
}
.section-main {
	PADDING-BOTTOM: 20px; COLOR: #666; PADDING-TOP: 10px
}
.article.section-main P {
	TEXT-INDENT: 2em
}
.pt0.section-main {
	PADDING-TOP: 0px
}
.article-list-style .circle.iconfont {
	MARGIN-RIGHT: 10px
}
.article-list-style LI {
	PADDING-LEFT: 2em
}
.kefu {
	Z-INDEX: 9001; POSITION: fixed; BACKGROUND-COLOR: #008dd0; WIDTH: 40px; TOP: 41%; CURSOR: pointer; RIGHT: 0px; border-radius: 8px
}
.active.kefu .kefu-main I.arrow {
	-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg)
}
.active.kefu .kefu-list {
	DISPLAY: block
}
.kefu .kefu-main {
	BORDER-BOTTOM: #008dd0 1px solid; BORDER-LEFT: #008dd0 1px solid; BORDER-TOP: #008dd0 1px solid; BORDER-RIGHT: #008dd0 1px solid; border-radius: 8px
}
.kefu .kefu-main I {
	FONT-STYLE: normal; DISPLAY: block; text-shadow: 0 0 6px #FFF
}
.kefu .kefu-main I.title {
	MARGIN: 4px auto; WIDTH: 12px; COLOR: #fff
}
.kefu .kefu-main I.icons {
	MARGIN: 6px auto; DISPLAY: block
}
.kefu .kefu-main I.arrow {
	BORDER-BOTTOM: transparent 8px solid; WIDTH: 0px; HEIGHT: 0px; BORDER-TOP: transparent 8px solid; BORDER-RIGHT: #fff 8px solid
}
.kefu .kefu-list {
	BORDER-BOTTOM: #008dd0 1px solid; POSITION: absolute; BORDER-LEFT: #008dd0 1px solid; BACKGROUND-COLOR: #f1faff; WIDTH: 170px; DISPLAY: none; HEIGHT: 100%; BORDER-TOP: #008dd0 1px solid; TOP: 0px; RIGHT: 40px; BORDER-RIGHT: #008dd0 1px solid; border-radius: 8px
}
.kefu .kefu-list .kefu-list-bd {
	PADDING-TOP: 10px
}
.kefu .kefu-list A {
	LINE-HEIGHT: 40px; DISPLAY: block; HEIGHT: 40px; COLOR: #666f74
}
.kefu .kefu-list A:hover {
	BACKGROUND-COLOR: #d9e8ef
}
.kefu .kefu-list I {
	MARGIN: 0px 10px
}
.kefu .kefu-list I {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.kefu .kefu-list SPAN {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.case {
	MARGIN-BOTTOM: 25px
}
.case .item-list TABLE {
	BORDER-BOTTOM: #d2d2d2 1px dotted; BORDER-LEFT: #d2d2d2 1px dotted; BORDER-TOP: #d2d2d2 1px dotted; BORDER-RIGHT: #d2d2d2 1px dotted
}
.case .item-list TR {
	BORDER-BOTTOM: #d2d2d2 1px dotted; BORDER-LEFT: #d2d2d2 1px dotted; BORDER-TOP: #d2d2d2 1px dotted; BORDER-RIGHT: #d2d2d2 1px dotted
}
.case .item-list TD {
	BORDER-BOTTOM: #d2d2d2 1px dotted; BORDER-LEFT: #d2d2d2 1px dotted; BORDER-TOP: #d2d2d2 1px dotted; BORDER-RIGHT: #d2d2d2 1px dotted
}
.case .item-list TD {
	PADDING-BOTTOM: 20px; WIDTH: 25%; PADDING-TOP: 20px
}
.tab-link {
	CURSOR: pointer
}
.tabs .tab {
	DISPLAY: none
}
.tabs .active.tab {
	DISPLAY: block
}
.view-option {
	BORDER-BOTTOM: #dfdfdf 1px solid
}
.view-option .view-option-bd {
	
}
.view-option .view-option-bd:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.view-option .tab-link {
	POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #dfdfdf 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FLOAT: left; BORDER-RIGHT: #dfdfdf 1px solid; PADDING-TOP: 12px
}
.view-option .tab-link .icons {
	TEXT-ALIGN: center; MARGIN: 0px 2px; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.view-option .tab-link .tab-title {
	TEXT-ALIGN: center; MARGIN: 0px 2px; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.view-option .active.tab-link {
	COLOR: #88cd00
}
.view-option .active.tab-link .line {
	BACKGROUND-COLOR: #fff
}
.view-option .first.tab-link {
	BORDER-LEFT: medium none
}
.view-option .last.tab-link {
	BORDER-LEFT: medium none
}
.view-option .tab-link .line {
	POSITION: absolute; BACKGROUND-COLOR: #dfdfdf; WIDTH: 100%; BOTTOM: -1px; HEIGHT: 1px; LEFT: 0px
}
.view-option {
	BACKGROUND-COLOR: #fff
}
.view-option-bd {
	BACKGROUND-COLOR: #fff
}
.modal {
	BORDER-BOTTOM: #ddd 4px solid; POSITION: relative; BORDER-LEFT: #ddd 4px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: none; BORDER-TOP: #ddd 4px solid; BORDER-RIGHT: #ddd 4px solid; PADDING-TOP: 20px
}
.modal .modal-close-icon {
	POSITION: absolute; TOP: 10px; CURSOR: pointer; RIGHT: 10px
}
.search-option {
	
}
.search-option:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.search-option .search-list {
	MARGIN-BOTTOM: 10px; FLOAT: left
}
.search-option .chosen-container {
	TEXT-ALIGN: left
}
.list3.search-option .search-list {
	WIDTH: 33.33%
}
.search-btn-main {
	TEXT-ALIGN: center
}
.input-outer {
	POSITION: relative
}
.input-outer .placeholder {
	Z-INDEX: 2; POSITION: absolute; TOP: 11px; LEFT: 15px
}
.input-outer .input-tips {
	Z-INDEX: 3; POSITION: relative; BACKGROUND-COLOR: transparent
}
.placeholder {
	COLOR: #ccc; CURSOR: text
}
.j_accordion_toggle {
	CURSOR: pointer
}
.j_accordion_content {
	DISPLAY: none; OVERFLOW: hidden
}
#kkpager {
	TEXT-ALIGN: center; PADDING-RIGHT: 50px; COLOR: #333; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
#kkpager .infoTextAndGoPageBtnWrap {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
#kkpager .pageBtnWrap {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
#kkpager .mall-pagination .pageBtnWrap {
	MARGIN-LEFT: 20px
}
#kkpager .mall-pagination .average {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; PADDING-TOP: 0px
}
#kkpager .mall-pagination A.average {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#kkpager .mall-pagination A.selected.average {
	BACKGROUND-COLOR: transparent; COLOR: #06c
}
#kkpager .mall-pagination A.average:hover {
	BACKGROUND-COLOR: transparent; COLOR: #06c
}
#kkpager A {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline-block; BACKGROUND: #fff; HEIGHT: 35px; COLOR: #333; VERTICAL-ALIGN: middle; BORDER-TOP: #ededed 1px solid; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ededed 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#kkpager SPAN.disabled {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline-block; HEIGHT: 35px; COLOR: #dfdfdf; VERTICAL-ALIGN: middle; BORDER-TOP: #ededed 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 0px
}
#kkpager SPAN.curr {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: inline-block; BACKGROUND: #88cd00; HEIGHT: 35px; COLOR: #fff; VERTICAL-ALIGN: middle; BORDER-TOP: #ededed 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 0px
}
#kkpager A:hover {
	BORDER-BOTTOM: #88cd00 1px solid; BORDER-LEFT: #88cd00 1px solid; BACKGROUND-COLOR: #88cd00; COLOR: #fff; BORDER-TOP: #88cd00 1px solid; BORDER-RIGHT: #88cd00 1px solid
}
#kkpager_gopage_wrap {
	POSITION: relative; TOP: 0px; LEFT: 0px
}
#kkpager_btn_go {
	BORDER-BOTTOM: #88cd00 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #88cd00 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 140%; BACKGROUND-COLOR: #88cd00; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 44px; PADDING-RIGHT: 0px; HEIGHT: 35px; COLOR: #fff; OVERFLOW: visible; BORDER-TOP: #88cd00 1px solid; TOP: -8px; CURSOR: pointer; BORDER-RIGHT: #88cd00 1px solid; PADDING-TOP: 0px; LEFT: 70px !important
}
#kkpager_btn_go_input {
	BORDER-BOTTOM: #dfdfdf 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dfdfdf 1px solid; LINE-HEIGHT: 35px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; WIDTH: 36px; DISPLAY: inline-block; HEIGHT: 35px; MARGIN-LEFT: 6px; VERTICAL-ALIGN: middle; BORDER-TOP: #dfdfdf 1px solid; MARGIN-RIGHT: 6px; BORDER-RIGHT: #dfdfdf 1px solid
}
.focus#kkpager_btn_go_input {
	BORDER-BOTTOM-COLOR: #88cd00; BORDER-TOP-COLOR: #88cd00; BORDER-RIGHT-COLOR: #88cd00; BORDER-LEFT-COLOR: #88cd00
}
#kkpager .spanDot {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
#kkpager .currPageNum {
	COLOR: #88cd00
}
#kkpager .infoTextAndGoPageBtnWrap {
	MARGIN-LEFT: 15px
}
.is-hidden {
	DISPLAY: none
}
.active.is-hidden {
	DISPLAY: block
}
.is-invisible {
	VISIBILITY: hidden
}
.active.is-invisible {
	VISIBILITY: visible
}
I.icons {
	FONT-STYLE: normal; DISPLAY: inline-block
}
I.block.icons {
	DISPLAY: block
}
.raster-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.tree-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.close-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.computer-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.gyq-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.menu-arrow-icon {
	BACKGROUND-IMAGE: url(../img/telecomMonitor-sprite.png); BACKGROUND-REPEAT: no-repeat
}
.raster-icon {
	WIDTH: 20px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 20px
}
.tree-icon {
	WIDTH: 20px; BACKGROUND-POSITION: 0px -28px; HEIGHT: 21px
}
.close-icon {
	WIDTH: 24px; BACKGROUND-POSITION: 0px -60px; HEIGHT: 24px
}
.computer-icon {
	WIDTH: 20px; BACKGROUND-POSITION: 0px -133px; HEIGHT: 20px
}
.gyq-icon {
	WIDTH: 20px; BACKGROUND-POSITION: 0px -99px; HEIGHT: 20px
}
.menu-arrow-icon {
	WIDTH: 12px; BACKGROUND-POSITION: 0px -189px; HEIGHT: 13px
}
.iconfont {
	TEXT-ALIGN: left; FONT-STYLE: normal; DISPLAY: inline-block; FONT-FAMILY: "wangman" !important; FONT-SIZE: 16px; FONT-WEIGHT: normal; -webkit-font-smoothing: antialiased
}
.circle.iconfont {
	COLOR: #f56b00
}
.arrow-r.iconfont {
	COLOR: #e7e5e5; FONT-SIZE: 60px; FONT-WEIGHT: bold
}
.ui-select-bill .chosen-container {
	BORDER-BOTTOM-COLOR: #d4d4d4; BACKGROUND-COLOR: #fff; BORDER-TOP-COLOR: #d4d4d4; WIDTH: 82px !important; BORDER-RIGHT-COLOR: #d4d4d4; BORDER-LEFT-COLOR: #d4d4d4
}
.ui-select-bill .chosen-container .chosen-drop {
	BORDER-BOTTOM-COLOR: #d4d4d4; BORDER-TOP-COLOR: #d4d4d4; BORDER-RIGHT-COLOR: #d4d4d4; BORDER-LEFT-COLOR: #d4d4d4
}
.ui-select-bill .chosen-container-single .chosen-single DIV {
	BORDER-LEFT: transparent 6px solid; WIDTH: 0px; HEIGHT: 0px; BORDER-TOP: #d4d4d4 6px solid; BORDER-RIGHT: transparent 6px solid
}
.chosen-container {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; HEIGHT: 40px; VERTICAL-ALIGN: middle; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none
}
.chosen-container .chosen-drop {
	Z-INDEX: 1010; BORDER-BOTTOM: #aaa 1px solid; POSITION: absolute; BORDER-LEFT: #aaa 1px solid; WIDTH: 100%; BACKGROUND: #fff; BORDER-TOP: 0px; TOP: 100%; BORDER-RIGHT: #aaa 1px solid; LEFT: -9999px
}
.chosen-with-drop.chosen-container .chosen-drop {
	LEFT: -1px
}
.chosen-container A {
	CURSOR: pointer
}
.chosen-container .search-choice .group-name {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; COLOR: #999999; OVERFLOW: hidden; FONT-WEIGHT: normal; MARGIN-RIGHT: 4px
}
.chosen-container .chosen-single .group-name {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; COLOR: #999999; OVERFLOW: hidden; FONT-WEIGHT: normal; MARGIN-RIGHT: 4px
}
.chosen-container .search-choice .group-name:after {
	PADDING-LEFT: 2px; VERTICAL-ALIGN: top; CONTENT: ":"
}
.chosen-container .chosen-single .group-name:after {
	PADDING-LEFT: 2px; VERTICAL-ALIGN: top; CONTENT: ":"
}
.chosen-container-single .chosen-single {
	POSITION: relative; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; TEXT-DECORATION: none
}
.chosen-container-single .chosen-default {
	COLOR: #999
}
.chosen-container-single .chosen-single SPAN {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; MARGIN-RIGHT: 26px
}
.chosen-container-single .chosen-single-with-deselect SPAN {
	MARGIN-RIGHT: 38px
}
.chosen-container-single .chosen-single ABBR {
	POSITION: absolute; WIDTH: 12px; DISPLAY: block; HEIGHT: 12px; FONT-SIZE: 1px; TOP: 6px; RIGHT: 26px
}
.chosen-container-single .chosen-single ABBR:hover {
	BACKGROUND-POSITION: -42px -10px
}
.chosen-disabled.chosen-container-single .chosen-single ABBR:hover {
	BACKGROUND-POSITION: -42px -10px
}
.chosen-container-single .chosen-single DIV {
	POSITION: absolute; BORDER-LEFT: transparent 6px solid; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; BORDER-TOP: #5c5c5c 6px solid; TOP: 18px; RIGHT: 0px; BORDER-RIGHT: transparent 6px solid
}
.chosen-container-single .chosen-single DIV B {
	WIDTH: 100%; DISPLAY: block; HEIGHT: 100%
}
.chosen-container-single .chosen-search {
	Z-INDEX: 1010; POSITION: relative; MARGIN: 0px; WHITE-SPACE: nowrap
}
.chosen-container-single .chosen-search INPUT[type='text'] {
	LINE-HEIGHT: normal; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; WIDTH: 100%; DISPLAY: none; FONT-FAMILY: sans-serif; HEIGHT: auto; FONT-SIZE: 1em; border-radius: 0
}
.chosen-container-single .chosen-drop {
	MARGIN-TOP: 1px; border-radius: 0 0 4px 4px; background-clip: padding-box
}
.chosen-container-single-nosearch.chosen-container-single .chosen-search {
	POSITION: absolute; LEFT: -9999px
}
.chosen-container .chosen-results {
	POSITION: relative; OVERFLOW-X: hidden; OVERFLOW-Y: auto; COLOR: #444; MAX-HEIGHT: 240px; -webkit-overflow-scrolling: touch
}
.chosen-container .chosen-results LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 15px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: none; WORD-WRAP: break-word; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px; -webkit-touch-callout: none
}
.chosen-container .chosen-results LI.active-result {
	DISPLAY: list-item; CURSOR: pointer
}
.chosen-container .chosen-results LI.disabled-result {
	DISPLAY: list-item; COLOR: #ccc; CURSOR: default
}
.chosen-container .chosen-results LI.highlighted {
	BACKGROUND-COLOR: #3875d7; COLOR: #fff
}
.chosen-container .chosen-results LI.no-results {
	DISPLAY: list-item; BACKGROUND: #f4f4f4; COLOR: #777
}
.chosen-container .chosen-results LI.group-result {
	DISPLAY: list-item; CURSOR: default; FONT-WEIGHT: bold
}
.chosen-container .chosen-results LI.group-option {
	PADDING-LEFT: 15px
}
.chosen-container .chosen-results LI EM {
	FONT-STYLE: normal; TEXT-DECORATION: underline
}
.chosen-container-multi .chosen-choices {
	BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: auto !important; OVERFLOW: hidden; BORDER-TOP: #aaa 1px solid; CURSOR: text; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 0px
}
.chosen-container-multi .chosen-choices LI {
	LIST-STYLE-TYPE: none; FLOAT: left; LIST-STYLE-IMAGE: none
}
.chosen-container-multi .chosen-choices LI.search-field {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
.chosen-container-multi .chosen-choices LI.search-field INPUT[type='text'] {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; MARGIN: 1px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: sans-serif; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 25px; COLOR: #999; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px; border-radius: 0; box-shadow: none
}
.chosen-container-multi .chosen-choices LI.search-choice {
	BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; BACKGROUND-COLOR: #eeeeee; MARGIN: 3px 5px 3px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: repeat-x; MAX-WIDTH: 100%; COLOR: #333; BORDER-TOP: #aaa 1px solid; CURSOR: default; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 3px; border-radius: 3px; background-clip: padding-box; background-size: 100% 19px
}
.chosen-container-multi .chosen-choices LI.search-choice SPAN {
	WORD-WRAP: break-word
}
.chosen-container-multi .chosen-choices LI.search-choice .search-choice-close {
	POSITION: absolute; WIDTH: 12px; DISPLAY: block; HEIGHT: 12px; FONT-SIZE: 1px; TOP: 4px; RIGHT: 3px
}
.chosen-container-multi .chosen-choices LI.search-choice .search-choice-close:hover {
	BACKGROUND-POSITION: -42px -10px
}
.chosen-container-multi .chosen-choices LI.search-choice-disabled {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #e4e4e4; PADDING-RIGHT: 5px; COLOR: #666; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.chosen-container-multi .chosen-choices LI.search-choice-focus {
	BACKGROUND: #d4d4d4
}
.chosen-container-multi .chosen-choices LI.search-choice-focus .search-choice-close {
	BACKGROUND-POSITION: -42px -10px
}
.chosen-container-multi .chosen-results {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.chosen-container-multi .chosen-drop .result-selected {
	DISPLAY: list-item; COLOR: #ccc; CURSOR: default
}
.chosen-with-drop.chosen-container-active .chosen-single DIV B {
	BACKGROUND-POSITION: -18px 2px
}
.chosen-container-active .chosen-choices {
	BORDER-BOTTOM: #5897fb 1px solid; BORDER-LEFT: #5897fb 1px solid; BORDER-TOP: #5897fb 1px solid; BORDER-RIGHT: #5897fb 1px solid
}
.chosen-container-active .chosen-choices LI.search-field INPUT[type='text'] {
	COLOR: #222 !important
}
.chosen-disabled {
	CURSOR: default; opacity: 0.5
}
.chosen-disabled .chosen-single {
	CURSOR: default
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	CURSOR: default
}
.chosen-rtl {
	TEXT-ALIGN: right
}
.chosen-rtl .chosen-single {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; OVERFLOW: visible; PADDING-TOP: 0px
}
.chosen-rtl .chosen-single SPAN {
	DIRECTION: rtl; MARGIN-LEFT: 26px; MARGIN-RIGHT: 0px
}
.chosen-rtl .chosen-single-with-deselect SPAN {
	MARGIN-LEFT: 38px
}
.chosen-rtl .chosen-single DIV {
	RIGHT: auto; LEFT: 3px
}
.chosen-rtl .chosen-single ABBR {
	RIGHT: auto; LEFT: 26px
}
.chosen-rtl .chosen-choices LI {
	FLOAT: right
}
.chosen-rtl .chosen-choices LI.search-field INPUT[type='text'] {
	DIRECTION: rtl
}
.chosen-rtl .chosen-choices LI.search-choice {
	PADDING-BOTTOM: 3px; MARGIN: 3px 5px 3px 0px; PADDING-LEFT: 19px; PADDING-RIGHT: 5px; PADDING-TOP: 3px
}
.chosen-rtl .chosen-choices LI.search-choice .search-choice-close {
	RIGHT: auto; LEFT: 4px
}
.chosen-container-single-nosearch.chosen-rtl .chosen-search {
	LEFT: 9999px
}
.chosen-rtl .chosen-drop {
	LEFT: 9999px
}
.chosen-container-single.chosen-rtl .chosen-results {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
.chosen-rtl .chosen-results LI.group-option {
	PADDING-LEFT: 0px; PADDING-RIGHT: 15px
}
.chosen-with-drop.chosen-container-active.chosen-rtl .chosen-single DIV {
	BORDER-RIGHT: medium none
}
.chosen-rtl .chosen-search INPUT[type='text'] {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; DIRECTION: rtl; PADDING-TOP: 4px
}
.chosen-container-single.chosen-rtl .chosen-single DIV B {
	BACKGROUND-POSITION: 6px 2px
}
.chosen-with-drop.chosen-container-single.chosen-rtl .chosen-single DIV B {
	BACKGROUND-POSITION: -12px 2px
}
